[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
numpy = "*"
tensorflow = "*"
importlib-metadata = "==1.7.0"
keras = "*"
sklearn = "*"
ipython = "*"
pydot = "*"
pydot-ng = "*"
graphviz = "*"

[requires]
python_version = "3.7"
